/*----------------------------------
            RESET
----------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------

            GENERAL

----------------------------------*/
body
{
    font-family: "Open Sans", sans-serif;
    background-color: white;
}
/*----------------------------------
            CONTAINERS
----------------------------------*/
.big-container
{
    max-width: 1200px;
    margin: auto;
}
.small-container
{
    max-width: 1000px;
    margin: auto;
}
/*----------------------------------
            FONTAWESOME
----------------------------------*/
[class^="fa-solid fa-"]
{
    padding: 0 5px;
}
/*----------------------------------
            FONTS
----------------------------------*/
h5
{
    font-weight: 500;
}
h3
{
    font-size: 14px;
}
/*----------------------------------
            BUTTON
----------------------------------*/
button:not(.inizia):not(.partner)
{
    padding: 13px 35px;
}
button a
{
    text-decoration: none;
    color: black;
}
button
{
    border-style: none;
}
.button-blue
{
    background-color: #0061ff;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}
.button-blue:hover
{
    background-color: white;
    color: #0061ff;
    border: 1px solid #0061ff;
}
.button-white
{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}
.button-white:hover
{
    background-color: #0061ff;
    color: white;
    border: white;
}
/*----------------------------------
            IMAGES
----------------------------------*/
img
{
    max-width: 100%;
}
/*----------------------------------
        UNORDERED-LIST
----------------------------------*/
ul
{
    list-style-type: none;
    margin-left: 20px;
}
li:before
{
    font-family: "FontAwesome";
    margin: 0 5px 0 -20px;
}
[class="check"]:before
{    
    content: "\f00c";
    color: blue;
}
[class="user"]:before
{    
    content: "\f007";
}
[class="users"]:before
{    
    content: "\f0c0";
}
[class="folder"]:before
{    
    content: "\f07b";
}
[class="share"]:before
{    
    content: "\f1e0";
}
li
{
    margin: 20px 0;
    font-size: 14px;
}
/*----------------------------------

            HEADER

----------------------------------*/
header
{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) ; 
}
.container-header
{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo
{
    display: flex;
}
.left-header , .right-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0 15px;
}
.right-header button
{
    font-size: 18px;
    margin-left: -25px;
    padding: 5px 12px;
}
.button-header:hover
{
    background-color: #0061ff;
    color: white;
    padding: 6px 10px;
    margin: -6px -10px;
    cursor: pointer;
}
/*----------------------------------

                HERO

----------------------------------*/
.container-hero
{
    background-color: #b4d0e7;
    padding-top: 100px;
}
.title h1
{
    font-weight: 900;
    font-size: 77px;
}
/*----------------------------------
            TEXT-PIC
----------------------------------*/
.text-pic
{
    display: flex;
    transform: translateY(80px);
}
.hero-text
{
    max-width: 30%;
}
.button-text
{
    font-size: 17px;
    padding: 15px 15px;
}
.button-text, .annulla
{
    margin-top: 30px;
}
.hero-pic
{
    max-width: 70%;
}
.arrow-down
{
    font-size: 40px;
    margin-top: 85px;
}
/*----------------------------------

        CONTAINER-COLUMN

----------------------------------*/

/*----------------------------------
            COLUMNS
----------------------------------*/
.container-first
{
    padding-top: 120px;
}
.container-first h1
{
    font-size: 40px;
}
.radio
{
    display: flex;
    gap: 5px;
    padding: 60px 0;
}
.annuale
{
    margin-left: 30px;
}
.container-columns
{
    display: flex;
    gap: 50px;
}
.title-column, .title-row
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.price
{
    margin-top: -10px;
    margin-bottom: -15px;
}
.container-columns > div
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: calc(100% / 3);
}
.lower-column hr
{
    width: 20%;
    margin: -20px 0 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.upper-column, .lower-column
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 25px;
}
.upper-column > h1, .lower-column > h1
{
    font-size: 26px;
}
/*----------------------------------

            LAST-ROW

----------------------------------*/
.last-row
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}
.row
{
    display: flex;
    justify-content: center;
}
/*----------------------------------
            LEFT-ROW
----------------------------------*/
.left-row
{
    width: 70%;
    padding: 30px;
}
.left-row p
{
    font-size: 14px;
    margin-top: 50px;
}
.left-row h3
{
    margin-top: 15px;
}
/*----------------------------------
            RIGHT-ROW
----------------------------------*/
.right-row
{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 30%;
    padding: 30px;
}
/*----------------------------------

        CONTAINER-SECOND

----------------------------------*/
.container-second
{
    display: flex;
    margin-top: 150px;
}
.left-second
{
    max-width: 60%;
}
.right-second
{
    max-width: 40%;
    padding: 50px 40px;
}
.right-second h2
{
    margin-bottom: 20px;
}
.right-second p
{
    font-size: 17px;
}
.right-second button
{
    margin-top: 30px;
    font-size: 17px;
    padding: 10px 20px;
}
/*----------------------------------

        CONTAINER-THIRD

----------------------------------*/
.container-third > h1
{
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 40px;
}
.first-row, .second-row
{
    display: flex;
    max-width: 100%;
}
.first-row > div, .second-row > div
{
    max-width: 990px;
    max-height: 800px;
    margin-right: 35px;
    flex-wrap: wrap;
}
.third-text p
{
    padding-top: 20px;
}
.container-fourth
{
    margin: 120px 0;
}
.container-fourth p
{
    margin-top: 60px;
}
/*----------------------------------

        CONTAINER-FIFTH

----------------------------------*/

/*----------------------------------
            LOGOS
----------------------------------*/
.container-fifth
{
    display: flex;
}
.middle-fifth
{
    width: calc(100vw / 3);
    height: calc(100% / 3);
    aspect-ratio: 1/1;
    padding: 40px 40px 150px 40px;
    background-color: #f5f5f5;
    font-size: 12.5px;
    overflow-y: auto;
}
.middle-fifth:hover
{
    border: 10px solid white;
}

.middle-fifth p
{
    padding: 20px 0;
}
.middle-fifth hr
{
    max-width: 20%;
    margin: 30px 0 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
[class$="-fifth"] img
{
    max-width: 50%;
}
.left-fifth, .right-fifth
{
    position: relative;
    width: calc(100vw / 3);
    height: calc(100% / 3);
    aspect-ratio: 1/1;
}
.left-fifth div, .right-fifth div
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}
.space-one
{
    top: 0;
    left: 0;
}
.space-two
{
    top: 0;
    right: 0;
}
.space-three
{
    bottom: 0;
    left: 0;
}
.space-four
{
    bottom: 0;
    right: 0;
}
[class^="space-"] img
{
    filter: invert(1);
}


.left-fifth .space-one
{
    background-color: #a2d39b;
}
.left-fifth .space-one:hover
{
    border: 10px solid #d1e9cd;
}


.left-fifth .space-two
{
    background-color: #61082b;
}
.left-fifth .space-two:hover
{
    border: 10px solid #a3325f;
}


.left-fifth .space-three
{
    background-color: #0093ce;
}
.left-fifth .space-three:hover
{
    border: 10px solid #27b6ef;
}


.left-fifth .space-four
{
    background-color: #ff1c1c;
}
.left-fifth .space-four:hover
{
    border: 10px solid #fd6464;
}


.right-fifth .space-one
{
    background-color: #d5001f;
}
.right-fifth .space-one:hover
{
    border: 10px solid #ff3e5b;
}


.right-fifth .space-two
{
    background-color: #b4d0e7;
}
.right-fifth .space-two:hover
{
    border: 10px solid #e4f3ff;
}


.right-fifth .space-three
{
    background-color: #0d2481;
}
.right-fifth .space-three:hover
{
    border: 10px solid #2943ae;
}


.right-fifth .space-four
{
    background-color: #ffd830;
}
.right-fifth .space-four:hover
{
    border: 10px solid #ffe882;
}
/*----------------------------------

        CONTAINER-SIXTH

----------------------------------*/
.container-sixth
{
    background-color: #b4d0e7;
    padding: 120px;
}
.sixth
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sixth h1
{
    color: #61082b;
    font-size: 35px;
}
.sixth button
{
    border-style: none;
}
/*----------------------------------

        CONTAINER-SEVEN

----------------------------------*/
.container-seventh
{
    padding: 120px 0;
}
.container-seventh h1
{
    padding-bottom: 40px;
}
.scelta
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 0;
    margin: 10px 0;
}
/*----------------------------------

            FOOTER

----------------------------------*/
footer
{
    background-color: black;
    padding: 120px 0 40px;
    border-bottom: 2px solid white 
}
.list-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.list-footer h2
{
    padding-bottom: 10px;
}
.language hr
{
    width: 10%;
    margin: 60px 0 40px 0;
}
.language
{
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    font-size: 14px;
}
.language i
{
    padding-right: 10px;
}
li a
{
    text-decoration: none;
    color: white;
}