/*----------------------------------
            RESET
----------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------
            DEBUG
----------------------------------*/

{
    border: 1px dashed black;
}
/*----------------------------------
            GENERAL
----------------------------------*/
body
{
    font-family: "Open Sans", sans-serif;
}
button
{
    padding: 8px 14px;
    border-style: none;
}
.button-blue
{
    background-color: #0061ff;
    color: white;
    cursor: pointer;
}
h5
{
    font-weight: 400;
}
img
{
    max-width: 100%;
}
/*----------------------------------
            HEADER
----------------------------------*/
header
{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;  
}
.container-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-container , .right-container
{
    display: flex;
    align-items: center;
}
.left-container > div
{
    padding: 10px;
}
.right-container > div 
{
    padding: 10px;
}
/*----------------------------------
                HERO
----------------------------------*/
.container-hero
{
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.hero
{
    width: 860px;
}
.title > h1
{
    font-weight: 900;
    font-size: 55px;
}
/*----------------------------------
            TEXT-PIC
----------------------------------*/
.text-pic
{
    display: flex;
    transform: translateY(70px);
}
.hero-text
{
    width: 40%;
}
.finalmente
{
    font-size: 14x;
}
.button-text , .annulla
{

}
.hero-pic
{
    width: 60%;
}