/*----------------------------------
            RESET
----------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------
            DEBUG
----------------------------------*/

{
    border: 1px dashed black;
}
/*----------------------------------
            GENERAL
----------------------------------*/
body
{
    font-family: "Open Sans", sans-serif;
}
.big-container
{
    max-width: 1200px;
    margin: auto;
}
.small-container
{
    max-width: 1000;
    margin: auto;
}
button
{
    border-style: none;
}
.button-blue
{
    background-color: #0061ff;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}
.button-white
{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px 10px;
}
h5
{
    font-weight: 500;
}
img
{
    max-width: 100%;
}
/*----------------------------------
            HEADER
----------------------------------*/
header
{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;  
}
.container-header
{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo
{
    display: flex;
}
.left-container , .right-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    gap: 40px;
    margin: 0 15px;
}
.right-container > button
{
    font-size: 18px;
    margin-left: -25px;
}
/*----------------------------------
                HERO
----------------------------------*/
.container-hero
{
    background-color: #b4d0e7;
    padding-top: 100px;
}
.title > h1
{
    font-weight: 900;
    font-size: 77px;
}
/*----------------------------------
            TEXT-PIC
----------------------------------*/
.text-pic
{
    display: flex;
    transform: translateY(80px);
}
.hero-text
{
    max-width: 30%;
}
.button-text
{
    font-size: 17px;
    padding: 15px 15px;
}
.button-text, .annulla
{
    margin-top: 30px;
}
.hero-pic
{
    max-width: 70%;
}
.arrow-down
{
    font-size: 40px;
    margin-top: 85px;
}